{% load static %}

{% url 'perfil' as perfil_url %}
{% url 'alterar_usuario' as usuario_url %}
{% url 'alterar_senha' as senha_url %}
{% url 'abastecimento-added' as abastecimento_added %}


<ul class="nav nav-underline container mt-2 mb-3">
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/' or request.path == abastecimento_added  %}active{% endif %}" aria-current="page" href="{% url 'inicio' %}">
        <img src="{% static 'img/ico.png' %}" alt="lg" style="max-height: 25px;">
        Abastecimento
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="bi bi-bar-chart"></i> Relatório
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.path == '/carros/' %}active{% endif %}" href="{% url 'BuscaVeiculos' %}">
      <i class="bi bi-truck"></i> Veiculos
    </a>
  </li>
  {% if user.is_superuser %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
      <i class="bi bi-gear"></i> Admin
    </a>
  </li>
  {% endif %}

  <li class="nav-item dropdown ms-auto">
      <a class="nav-link dropdown-toggle {% if request.path == perfil_url or request.path == usuario_url or request.path == senha_url %}active{% endif %}"
        role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle"></i>
        {{ request.user.username }}
      </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="{% url 'perfil' %}">
          <i class="bi bi-person-vcard"></i> Perfil
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'alterar_usuario' %}">
          <i class="bi bi-person-gear"></i> Alterar Usuário
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'alterar_senha' %}">
          <i class="bi bi-person-lock"></i> Alterar Senha
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li class="text-center">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sair">
          <i class="bi bi-door-open"></i> Logout
        </button>
      </li>
    </ul>
  </li>
</ul>






<div class="modal" id="sair" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Deseja mesmo sair?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Olá {{request.user.username}}<br>
          Confirme para fazer logoff do sistema
        </p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          <i class="bi bi-x-lg"></i>
          Cancelar
        </button>
        <form method="POST" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
          <button type="submit" class="btn btn-danger">
            <i class="bi bi-door-closed"></i> Sair
          </button>
        </form>
      </div>
    </div>
  </div>
</div>