{% load static %}
<div class=" bg-body-tertiary">
    <div class="container">
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">
            <img src="{% static 'img/ico.png' %}" alt="lg" style="max-height: 25px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Relatorios</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Usuário
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'alterar_usuario' %}">Alterar Usuário</a></li>
                        <li><a class="dropdown-item" href="{% url 'alterar_senha' %}">Alterar Senha</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">Sair</button>
            </form>
        </div>
    </div>
</nav>
</div>
</div>